<!doctype html>
<html lang="en">
{% load static %}
<head>
  <title>Sanjay Kumar's Portfolio</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <style>
  html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif}
  </style>
</head>
<body class="w3-light-grey">

<!-- Page Container -->
<div class="w3-content w3-margin-top" style="max-width:1400px;">

  <!-- The Grid -->
  <div class="w3-row-padding">

    <!-- Right Column -->
    <div class="w3-one">

      <!-- Introduction & Photo -->
      <div class="w3-container w3-margin-bottom">
        <div class="w3-container" style="text-align: center;">
          <img src="{% static 'sanjay.jpeg' %}" style=" border: 5px solid grey;border-radius:4px;display:block;width:25%;margin-left:auto;margin-right:auto;margin-top: 10px;"></img>
          <h1 class="w3-text-teal w3-padding-5">Sanjay Kumar</h1>
          {% for about in about.all %}
            <h5 class="w3-text-grey w3-padding-16">{{ about.summary }}</h5>
          {% endfor %}
          
        </div>
      </div>

      <!-- Education -->
      <div class="w3-container w3-card w3-white w3-margin-bottom">
        <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-certificate fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Education</h2>

        <div class="w3-container">
          {% for edu in education.all %}
            <h5 class="w3-opacity"><b>{{ edu.school_name }}</b></h5>
            <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>{{edu.session}}</h6>
            <p>{{ edu.degree }}</p>
            <p>{{ edu.courses }}</p>
            <p>Grade: {{ edu.grade }}</p>
            <hr/>
          {% endfor %}
        </div>
      </div>

      <!-- Skills -->
      <div class="w3-container w3-card w3-white w3-margin-bottom">
        <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-asterisk fa-fw w3-margin-right w3-text-teal"></i>Technical Skills</h2>
        <div class="w3-container">
          {% for skill in skills.all %}
          <h5 class="w3-opacity"><b>{{ skill.skill }}</b> ({{ skill.level }})</h5>
          <hr>
          {% endfor %}
        </div>
      </div>

      <!-- Experience -->
      <div class="w3-container w3-card w3-white w3-margin-bottom">
        <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-suitcase fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Experience</h2>
        <div class="w3-container">
          {% for exp in experiences.all %}
            <h5 class="w3-opacity"><b>{{ exp.title }}</b> ({{ exp.type }})</h5>
            <h6 class="w3-opacity">{{ exp.company }}</h6>
            <p class="w3-text-teal">{{ exp.summary }}</p>
            <hr>
          {% endfor %}
        </div>
      </div>

      <!-- Projects -->
      <div class="w3-container w3-card w3-white w3-margin-bottom">
        <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-globe fa-fw w3-margin-right w3-text-teal"></i></i>Projects</h2>
        
        <div class="w3-container">
          {% for project in projects.all %}
            <h5 class="w3-opacity"><b><a href="{{project.url}}">{{ project.title }}</a></b> ({{ project.framework }})</h5>
            <p class="w3-text-teal">{{ project.summary }}</p>
            <hr>
          {% endfor %}
        </div>
        
      </div>
    
    </div>
    
  <!-- End Grid -->
  </div>
  
  <!-- End Page Container -->
</div>

<footer class="w3-container w3-teal w3-center w3-margin-top">
  <p>Connect with me on social media.</p>
  <a href="https://www.linkedin.com/in/sanjaykumar086/"><i class="fa fa-linkedin w3-hover-opacity">&ThickSpace;</i></a>
  <a href="https://twitter.com/Sanjay6890/"><i class="fa fa-twitter w3-hover-opacity"></i></a>  
  <p>SANJAY KUMAR &copy; 2021</p>
  <small>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></small>
</footer>

</body>

</html>