<!doctype html>
<html lang="en">
{% load static %}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="../../../../favicon.ico">
    <title>Sanjay Kumar</title>   

    <!-- Bootstrap core CSS -->
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

</head>

<body>
<main role="main">

  <section class="jumbotron text-center">
    <div class="container">
      <div class="jumbotron-heading">
        <img src="{% static 'sanjay.jpeg' %}" height="250" width="200" style="padding-bottom: 5px;"></img>
        <h1 class="fw-light">Sanjay Kumar</h1>
        <p class="lead text-muted" style="text-align: center;">👋 Hi folks! I am Sanjay who loves to explore and learn new technologies. Presently, 
        I am pursuing B.Tech in Electronics and Communication Engineering from NIT, Jalandhar. I enjoy programming and technical writing.</p>
        <p>
          <a href="https://www.linkedin.com/in/sanjaykumar086/" class="btn btn-primary my-2">LinkedIn</a>
          <a href="https://twitter.com/Sanjay6890/" class="btn btn-secondary my-2">Twitter</a>
        </p>
      </div>
    </div>
  </section>

  <!-- SKILLS SECTION -->
  <div class="album py-5">
    <div class="container">
      <h2>✔ Tech Skills</h2>
      <div class="row">
        {% for skill in skills.all %}
        <div class="col-md-4">
          <div class="card mb-3 box-shadow">
            <div class="card-body" style="text-align: center; background-color:cornflowerblue;">
              <h6 class="card-text">{{ skill.skill }}</h6>
              <p class="card-text">{{ skill.level }}</p>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>

    </div>
  </div>
  
  <!-- EXPERIENCE SECTION -->
  <div class="album py-5 bg-light">
    <div class="container">
      <h2>✨ Experience</h2>
      <div class="row">
        {% for exp in experiences.all %}
        <div class="col-md-4">
          <div class="card mb-3 box-shadow">
            <div class="card-body" style="text-align: center; background-color:lightblue;">
              <h5 class="card-text">{{ exp.title }}</h5>
              <h6 class="card-text">{{ exp.company }}</h6>
              <p class="card-text">({{ exp.type }})</p>
              <p class="card-text">{{ exp.summary }}</p>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>

    </div>
  </div>

  <!-- PROJECTS SECTION -->
  <div class="album py-5">
    <div class="container">
      <h3>💡 Projects</h3>
      <div class="row">
        {% for project in projects.all %}
        <div class="col-md-4" >
          <div class="card mb-3 box-shadow">
            <div class="card-body" style="text-align: center; background-color: lightsteelblue;">
              <a href="{{project.url}}"><h5 class="card-text">{{ project.title }}</h5></a>
              <h6 class="card-text">({{ project.framework }})</h6>
              <p class="card-text">{{ project.summary }}</p>
            </div>
          </div>
          </a>
        </div>
        {% endfor %}
      </div>

    </div>
  </div>

</main>
    <script src="{% static 'jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script> 

    <footer class="text-muted py-5 bg-dark" style="text-align: center;">
        <div class="container">
          <p class="float-end mb-1">
            <a href="#">Back to top</a>
          </p>
          <p class="mb-1">Sanjay Kumar &copy; 2021</p>
          <p class="mb-0">Contact Me: <a href="mailto:itworld.6890@gmail.com"<a>itworld.6890@gmail.com</a>
        </div>
    </footer>

</body>

</html>

